ul {
	list-style-type:none;
}
#navigate {
	text-align: center;
	margin: 0 auto;
}

footer {
	width: 100%;
	background-color: #222222;
	color: #999999;
	font-size: 12px;
}

#footer-nav li, #navigate li, #top-bar li {
	display:inline-block;
	padding: 0 15px;
}

#footer-nav ul li a{
	color: #ffffff;
	font-size: 12px;
}

#home-slider {
	padding-bottom: 10px;
}

#header {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	width: 300px;
	margin-bottom: 5px;
	}

.menu-footer {
	float: left;
}

.container {

}
